

body {
  background-image: url("BACK.jpg");
  color: #fff;
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-style: bold;
}

.mainArea {
  font-size: 24px;
}

.jumbotron {
  box-sizing: border-box;
  height: 600px;
  background-color: rgba(0, 0, 0, 0);
}

.main-button-container {
  margin-top: 175px;
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
}

.btn-danger {
    font-size: 50px;
}

.timer-p {
  margin-top: 40px;
}
.btn-danger:hover {
  background: black;
}
.answer:hover {
  background: #c9312d;
  color: #fff;
  font-size: 28px;
}

.answer {
  padding-top: 7px;
  height: 45px;
  color: black;
  padding-left: 14px;
  background-color: white;
  border-radius: 4px;
}

.img-wrong {
  margin-top: 40px;
}

.first-answer {
  margin-top: 40px;
}

.reset-button {
  margin-top: 40px;
}

.summary-correct {
  margin-top: 40px;
}


